<h1><%= title%></h1>
<form name="adduser" action="/adduser" method="post" >
    <label for="username">Benutzername:</label>
    <input type="text" name="username"/>
    <label for="email">E-Mail:</label>
    <input type="text" name="email"/>
    <button type="submit">Erstellen</button>
</form>
